@font-face {
    font-family: 'MDLZ BITE TYPE';
    src: url("MDLZBITETYPE-Regular.woff2") format("woff2"),
        url("MDLZBITETYPE-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent
}

iframe#iframe{
    display: block;
    min-height: 200px;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none
}

body {
    font-family: 'MDLZ BITE TYPE';
    font-weight: normal;
    font-style: normal;
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    height: 100%;
    color: #fff;
}

.container.uf-container.container--custom {
    color: #572A13;
    font-size: 14px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    padding: 0;
}

@media screen and (max-width:320px) {
    .container.uf-container.container--custom {
        width: 260px;
    }
}

.container.uf-container.container--custom::-webkit-scrollbar {
    width: 0;
}

.container-tutorial__text {
    font-family: "MDLZ BITE TYPE";
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}

.container-tutorial__text p {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-bottom: 19px;
}

.dropzone .dz-message {
    font-weight: 300;
    margin: 0!important;
}

.dropzone.dropzone--custom.dz-clickable {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    width: 215px;
    min-height: 215px;
    background-color: #fff;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #204A30;
    margin: 0 auto;
}

.dropzone.dropzone--custom.dz-clickable.dz-started {
    border: 2px solid transparent;
}

.dropzone .dz-preview.dz-image-preview {
    margin: 16px auto;
    border-radius: 0;
    border: 0;
}

.dropzone .dz-preview .dz-image {
    width: 100px;
    height: 100px;
    border-radius: 0 !important;
}

.dropzone .dz-preview .dz-remove {
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11.5' cy='11.5' r='11.5' fill='%23F7941D'/%3E%3Cpath d='M16.2934 7.10225L7.13086 16.2877L6.73749 15.8934L15.9 6.7079L16.2934 7.10225Z' fill='%2385312C' stroke='white'/%3E%3Cpath d='M7.1 6.71185L16.2625 15.8973L15.8692 16.2917L6.70663 7.1062L7.1 6.71185Z' fill='%2385312C' stroke='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 0 !important;
    font-weight: bold;
    background-color: #F7941D;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    z-index: 21;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    text-decoration: none;
    overflow: hidden;
}

.dropzone .dz-preview .dz-remove:hover {
    background: #E51435, 90%;
    text-decoration: none;
}

.uf-button-wrapper.button-wrapper--custom {
    text-align: center
}

.uf-button-submit.button-submit--custom {
    z-index: 1;
    cursor: pointer;
    border: none;
    font-family: "MDLZ BITE TYPE";
    display: inline-block;
    max-width: 280px;
    width: 100%;
    font-size: 30px;
    line-height: 1;
    background: #F7941D;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    padding: 9px 5px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
    outline: none;
    border-radius: 20px;
    margin: 25px auto;
}

.uf-button-submit.button-submit--custom:hover,
.uf-button-submit.button-submit--custom:focus {
    background: #A1E2FF;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom {
    margin: 20px 0;
}

.dropzone.dz-started .dz-message span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 30px;
    margin: auto;
    padding: 7px 10px;
    background: transparent;
    font-weight: bold;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #572A13;
    border: 1px solid #572A13;
    border-radius: 33px;
    transition: all .2s linear;
    outline: none;
    cursor: pointer;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 30px;
    margin: auto;
    padding: 7px 10px;
    background: transparent;
    font-weight: bold;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #572A13;
    border: 1px solid #572A13;
    border-radius: 33px;
    transition: all .2s linear;
    outline: none;
    cursor: pointer;
}

.dropzone.dz-started .dz-message span:hover {
    opacity: .9;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button:hover {
    opacity: .9;
}

.uf-controls-wrapper {
    position: relative;
    margin-top: 20px;
}

.uf-controls-wrapper .form-control {
    display: block
    width: 100%
    height: 40px
    background: rgba(255, 255, 255, 0.3)
    border-radius: 20px
    border: none
    padding: 0 20px
    font-family: 'MDLZ BITE TYPE'
    font-size: 16px
    color: #fff
}

.uf-controls-wrapper .form-control:focus {
    border: 1px solid #81b5cc;
}

.input-group.date {
    /*overflow: hidden;*/
    margin: 10px auto;
    width: 100%;
    min-width: 220px;
    max-width: 260px;
}

.input-group.date input {
    margin: 0;
    min-width: 220px;
}

.input-group.date .input-group-addon {
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    border: 1px solid #C4C4C4;
    border-left: none;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999;
    background: #fefefe;
    color: #000;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 17em;
}

.angular-uf-container.angular-uf-message p {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #572A13;
    margin-bottom: 20px;
}

zxing-scanner {
    border: 2px solid #fff !important;
    width: 215px !important;
    height: 215px !important;
    margin: 0 auto 30px !important;
    border-radius: 10px;
    background-color: #fff;
	overflow: hidden;
}

app-root button {
    z-index: 1;
    cursor: pointer;
    border: none;
    font-family: "MDLZ BITE TYPE";
    display: inline-block;
    max-width: 280px;
    width: 100%;
    font-size: 30px;
    line-height: 1;
    background: #F7941D;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    padding: 9px 5px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
    outline: none;
    border-radius: 20px;
    margin: 25px auto;
}

app-root button:hover {
    opacity: .9;
}

dropzone {
    max-width: 220px;
    min-height: 156px;
    border: 1px solid #572A13;
    background: #fff;
    border-radius: 30px;
    margin: 0 auto 25px;
}

app-root dropzone>.dropzone.dz-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: #572A13;
    padding: 10px;
}

app-root dropzone>.dropzone.dz-wrapper .dz-message {
    border: none;
    background: none;
    margin: 3rem 0;
}

app-root dropzone>.dropzone.dz-wrapper.dz-started .dz-message {
    order: 1;
    margin: 20px 0;
}

.angular-uf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    margin-bottom: 19px;
}

app-root select {
    appearance: none;
    box-shadow: none;
    border: none;
    margin: 0 auto 27px;
    max-width: 280px!important;
    width: 100%!important;
    height: 33px;
    border-radius: 20px;
    background-color: #fff;
    height: 33px;
    padding: 0 19px;
    font-family: "MDLZ BITE TYPE";
    font-size: 14px;
    line-height: 17px;
    color: #F7941D;
    background: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.78751 6L0.437086 -6.52532e-07L7.13794 -4.68497e-08L3.78751 6Z' fill='%23F7941D'/%3E%3C/svg%3E%0A") #fff no-repeat 97% center;
    background-size: 8px;
    border-radius: 20px;
    background-color: #fff;
    margin: 0;
}

app-root .dropzone .dz-preview.dz-image-preview {
    width: 100px;
    height: 100px;
}

app-root .dropzone .dz-preview .dz-image {
    width: 100px;
    height: 100px;
}